// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables
$body-bg: #edf0c7;
$border-radius: 1rem;

// Add you custom CSS

/* body {
  margin: 20px;
} */

// Include all Bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';

// Eigene Regeln

.bg-nav {
    background-color: #82e747;
}

.txt-head {
    color: #2e5a1c;
}

.btn-karotte {
    background-color: #ff5c00;
}

.cover-karotte {
    background-image: url('/images/cover.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.txt-cover {
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 1);
}
