// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables
$body-bg: #edf0c7;
$border-radius: 1rem;

// Add you custom CSS

/* body {
  margin: 20px;
} */

// Include all Bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';

// Eigene Regeln

.bg-nav {
    background-color: #82e747;
}

.txt-head {
    color: #2e5a1c;
}

.btn-karotte {
    background-color: #ff5c00;
}

.cover-cake,
.cover-karotte,
.card--about-me__farmer,
.card--about-me__home,
.card--about-me__myself,
.card--about-me__relatives,
.card--about-me__villian {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cover-karotte {
    background-image: url('/images/cover.jpg');
}

.txt-cover {
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 1);
}

.card--about-me__villian {
    background-image: url('/images/villian.jpg');
    width: 100%;
    height: 250px;
    border-radius: 0.25rem;
}

.card--about-me__home {
    background-image: url('/images/home.jpg');
    width: 100%;
    height: 250px;
    border-radius: 0.25rem;
}

.card--about-me__relatives {
    background-image: url('/images/relatives.jpg');
    width: 100%;
    height: 250px;
    border-radius: 0.25rem;
}

.card--about-me__myself {
    background-image: url('/images/ingredients.jpg');
    width: 100%;
    height: 250px;
    border-radius: 0.25rem;
}

.card--about-me__farmer {
    background-image: url('/images/bauer.jpg');
    width: 100%;
    height: 250px;
    border-radius: 0.25rem;
}

.recept-table,
.recept-table-l {
    width: 45%;
}

.recept-table-l {
    float: left;
}

.recept-txt {
    color: white;
}

.cover-cake {
    background-image: url('/images/recept.jpg');
}

.rbox {
    min-height: 450px;
    border-radius: 0.25rem;
}
