// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables
/* $body-bg: #000;
$body-color: white;
$primary: hotpink;
$font-family-base: Arial; */

// Add you custom CSS

/* body {
  margin: 20px;
} */

// Include all Bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';

// Bootstrap Veriablen
$body-bg: #edf0c7;

// Eigene Regeln
.bg-nav {
    background-color: #82e747;
}
